/* Cards wrapper */

.cards-wrp {
    width: 100%;
    height: 95vh;
    padding: 100px 0 40px;
    display: grid;
    grid-template-columns: 25% 25% 30% 20%;
    grid-template-rows: 37% 13% 2% 11% 13% 13% 13%;
}

@media screen and (max-width: 1200px) {
    .cards-wrp {
        grid-template-columns: 45% 5% 27% 23%;
        grid-template-rows: 18% 18% 11% 25% 25%
    }
}

/*Flip card*/

.flip-card {
    background-color: transparent;
    perspective: 10000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}


.flip-card-back {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    padding: 15px;
    background-color: white;
    font-weight: 600;
    font-size: 24px;
    font-family: Roboto, sans-serif;
    line-height: 120%;
    overflow: hidden;
    text-align: left;
}

.flip-card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Roboto, sans-serif;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


/* BSA logo flip card */

.bsa {
    grid-column: 1;
    grid-row: 1 / 4;
}

.bsa-card-front, .bsa-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.bsa-card-front {
    background: white;
    color: black;
}

.bsa-card-back {
    align-items: center;
    justify-content: center;
    background: white;
    transform: rotateY(180deg);
}

.bsa-card-back a {
    padding: 13px 30px;
    border: none;
    border-radius: 2px;
    background: #2D99FF;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.bsa-card-back a:hover {
    outline: none;
    background: #0443A3;
}

.bsa svg {
    max-width: 250px;
    max-height: 250px;
    width: 100%;
}

/* QA flip card */

.qa {
    grid-column: 1;
    grid-row: 4 / 8;
}

.qa-card-front, .qa-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.qa-card-front {
    background: #52BF77;
    color: white;
    font-size: 120px;
}

.qa-card-back {
    align-items: flex-start;
    justify-content: flex-start;
    background: white;
    transform: rotateY(180deg);
}

@media screen and (max-width: 1200px) {
    .qa {
        grid-column: 1 / 3;
        grid-row: 5;
    }
}

/* JS flip card */

.js {
    grid-column: 2;
    grid-row: 1 / 6;
}

.js-card-front, .js-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}

.js-card-front {
    top: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    background: #F7C769;
    color: black;
    font-size: 120px;
    font-weight: 700;
    transform: translateY(-100%);
}

.js-card-back {
    align-items: flex-start;
    justify-content: flex-start;
    background: white;
    transform: rotateY(180deg);
}

@media screen and (max-width: 1200px) {
    .js {
        grid-column: 2 / 4;
        grid-row: 1 / 4;
    }
}

/* Java flip card */

.java {
    grid-column: 2;
    grid-row: 6 / 8;
}

.java-card-front, .java-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.java-card-front {
    background: #E12B4C;
    color: white;
    font-size: 60px;
    animation-name: java-text-zoom;
    animation-duration: .5s;
    animation-fill-mode: backwards;
}

.java-card-back {
    align-items: flex-start;
    justify-content: flex-start;
    background: white;
    transform: rotateY(180deg);
}

@media screen and (max-width: 1200px) {
    .java {
        grid-column: 1 / 3;
        grid-row: 4;
    }
}

/*Slide card*/

.slide-card {
    position: relative;
}

.slide-card .text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 20px;
    font-family: Roboto, sans-serif;
    white-space: nowrap;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.slide-card-front {
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    color: white;
    transition: .5s ease;
    font-family: Roboto, sans-serif;
    overflow: hidden;
}

.contacts-card-back,
.contacts-card-front,
.events-card-back,
.events-card-front,
.blog-card-front,
.blog-card-back,
.php-card-back,
.php-card-front,
.net-card-back,
.net-card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 24px;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.slide-card:hover .slide-card-front {
    width: 0;
    right: 0;
}

/* php slide card */

.php {
    grid-column: 3 / 5;
    grid-row: 1;
}

.php-card-back {
    position: absolute;
    height: 100%;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    padding: 15px;
    background: white;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    overflow: auto;
}

.php-card-front {
    top: 0;
    background-color: #8893C0;
}

.php-card-front .text {
    color: black;
    font-size: 140px;
    font-style: italic;
    animation-name: php-text-zoom;
    animation-duration: .5s;
    animation-fill-mode: backwards;
}

.slide-card:hover .php-card-front {
    height: 0;
    top: 0;
}

@media screen and (max-width: 1200px) {
    .php {
        grid-column: 3 / 5;
        grid-row: 4;
    }
}

/* .NET slide card */

.net {
    grid-column: 3;
    grid-row: 2 /8;
}

.net-card-back {
    position: absolute;
    height: 100%;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    padding: 15px;
    display: flex;
    background: white;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    overflow: auto;
}

.net-card-front {
    background-color: #642077;
}

.net-card-front .text {
    font-size: 120px;
    animation-name: net-text-zoom;
    animation-duration: .5s;
    animation-fill-mode: backwards;
    font-weight: 500;
}

.slide-card:hover .net-card-front {
    height: 0;
}

@media screen and (max-width: 1200px) {
    .net {
        grid-column: 3 / 5;
        grid-row: 5;
    }
}

/* Events slide card */

.events {
    grid-column: 4;
    grid-row: 2 / 5;
}

.events-card-back {
    position: absolute;
    height: 100%;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    padding: 15px;
    background: white;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    overflow: auto;
}

.events-card-front {
    background-color: #2D99FF;
}

@media screen and (max-width: 1200px) {
    .events {
        grid-column: 4;
        grid-row: 1;
    }

    .events-card-back {
        font-size: 14px;
    }
}

/* Blog slide card */

.blog {
    grid-column: 4;
    grid-row: 5 / 7;
}

.blog-card-back {
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    padding: 15px;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    overflow: auto;
}

.blog-card-front {
    background-color: #0443A3;
}

@media screen and (max-width: 1200px) {
    .blog {
        grid-column: 4;
        grid-row: 2;
    }

    .blog-card-back {
        font-size: 14px;
    }
}

/* Contacts slide card */

.contacts {
    grid-column: 4;
    grid-row: 7;
}

.contacts-card-back {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    font-size: 40px;
    overflow: auto;
}


.contacts-card-back i {
    margin: 10px;
    color: black;
}

.contacts-card-back i:hover {
    color: #008CBA;
    cursor: pointer;
}


.contacts-card-front {
    background-color: #001F53;
}

@media screen and (max-width: 1200px) {
    .contacts {
        grid-column: 4;
        grid-row: 3;
    }
}

/*Animations*/

@keyframes java-text-zoom {
    from {
        font-size: 5px;
    }
    to {
        font-size: 60px;
    }
}

@keyframes net-text-zoom {
    from {
        font-size: 10px;
    }
    to {
        font-size: 120px;
    }}

@keyframes php-text-zoom {
    from {
        font-size: 10px;
    }
    to {
        font-size: 140px;
    }}