* {
    box-sizing: border-box;
}

body {
    position: relative;
    height: 100vh;
    min-width: 750px;
    display: block;
    background: #F8F9FC;
    font-family: 'Roboto', sans-serif;
}

footer {
    text-align: center;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }
}

/*Header*/

.header {
    position: fixed;
    height: 60px;
    width: 100%;
    background: white;
    animation: 0.6s ease-out 0s 1 slideDown;
    z-index: 100;
}

.header-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.fa-bell {
    color: #BEC9DA;
    cursor: pointer;
}

.fa-bell:hover {
    color: #999dae;
}

.logo {
    width: 100px;
    object-fit: cover;
}

.avatar {
    line-height: 2.4em;
    width: 2.4em;
    margin-bottom: 5px;
    border-radius: 1.2em;
    display: inline-block;
    background: #F8991C;
    color: #fff;
    font-weight: bold;
    font-family: Roboto, sans-serif;
    text-align: center;
    cursor: pointer;
    -moz-border-radius: 1.2em;
    -webkit-border-radius: 1.2em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.avatar:hover {
    background: #ff8205;
}

/*Dropdown*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-title {
    padding-bottom: 5px;
    margin-bottom: 10px;
    text-align: center;
    color: gray;
    font-size: 13px;
    font-family: Roboto, sans-serif;
    border-bottom: 1.5px solid gray;
}

.dropdown-content {
    position: absolute;
    min-width: 160px;
    padding: 10px 15px 15px 15px;
    right: 0;
    display: none;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    display: block;
    padding: 12px 16px;
    color: black;
    font-family: Roboto, sans-serif;
    font-weight: 500;
}

a {
    text-decoration: crimson;
}

.dropdown-content a:hover {
    background-color: rgba(190, 201, 218, 0.1)
}

.dropdown input {
    width: 0;
    height: 0;
    opacity: 0;
}

.dropdown-content span {
    color: #999dae;
}

input:checked + .dropdown-content {
    display: block;
}

.dropdown:hover .avatar {
    background: #ff8205;
}


/*Messages*/

.messages-container {
    position: absolute;
    display: flex;
    bottom: 0;
    right: 20px;
    width: 250px;
    flex-wrap: wrap;
    justify-content: center;
}

.message {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 30px;
    background: rgba(228, 49, 36, 0.76);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 120%;
    color: white;
    border-radius: 5px;
    margin-bottom: 15px;
}

.message div {
    width: 140px;
    margin-left: 20px;
}

.message span {
    width: 140px;
    font-weight: 700;
}

.error-message {
    background-color: rgba(235, 55, 30, 0.7);
}

.success-message {
    background-color: rgba(60, 190, 60, 0.7);
}

.warn-message {
    background-color: rgba(255, 130, 5, 0.7);
}

@keyframes slideDown {
    0% {
        transform: translateY(-60px);
    }
    100% {
        transform: translateY(0);
    }
}
